# Node.js
frontend/node_modules
frontend/build
backend/node_modules/

# Python
backend/venv/
backend/__pycache__/
*.pyc

# Model files (using Git LFS is better, but ignoring is safest for now)
*.pt

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables (never upload secrets)
.env
frontend/.env
backend/.env