# Node.js
frontend/node_modules
frontend/build

# Python
backend/venv/
backend/__pycache__/
*.pyc

# Model files (using Git LFS is better, but ignoring is safest for now)
*.pt

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db